<div class="page">
  <div class="head" [ngClass]="{ 'head--full': !showKeyboard }">
    @if(showMap) {
      @defer {
        <!-- Mapa fijo debajo del buscador -->
        <div id="map-asociaciones" class="map-container"></div>
      }
    }
  <div class="map-toggle" (click)="changeShowMap()">
    <mat-icon fontSet="material-symbols-outlined">{{showMap ? 'list' : 'map' }}</mat-icon>
  </div>
  <div class="keyboard-toggle" (click)="changeShowKeyboard()">
    <mat-icon fontSet="material-symbols-outlined">{{showKeyboard ? 'keyboard_off' : 'keyboard' }}</mat-icon>
  </div>
  <!-- Listado con scroll ocupa el resto -->
  <div class="list" [ngClass]="{ 'list--full': !showMap }" id="list-container">
    <ng-container *ngFor="let asociacion of asociaciones">
      <div
        class="list-item"
        [attr.id]="'asoc-' + asociacion.id"
      >
        <div class="list-item__logo" [ngClass]="asociacion.zona">
          <img
            *ngIf="asociacion.logo || asociacion.isBatucada"
            [src]="asociacion.isBatucada ? '/assets/icons/batucada.svg' : 'https://laalisedadetormes.com/orgullo/' + asociacion.logo + '.webp'"
            (error)="onImgError($event)"
            [alt]="asociacion.name"
          />
          <img
            *ngIf="!asociacion.logo && !asociacion.isBatucada"
            [src]="'./../../../assets/icons/lgbt.png'"
            (error)="onImgError($event)"
            [alt]="asociacion.name"
          />
        </div>
        <div class="list-item__name">
          @if(asociacion.shortName) {
            <span>{{asociacion.position}}. {{asociacion.shortName}}</span><br>
            <span class="list-item__desc"> {{ asociacion.name }}</span>
          } @else {
            <span>{{asociacion.position}}. {{ asociacion.name }}</span>
          }
        </div>
      </div>
    </ng-container>
  </div>

  </div>
  @if (showKeyboard) {
    <app-search (searchTerm)="onSearchChange($event)"></app-search>
  }

</div>
