.search {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.telefono {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  //border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;

  h3 {
    margin: 0 0 0.25rem;
  }


  .dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .name {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .buttons {
    display: flex;
    gap: 14px;
  }

  & .whatsapp {
    fill: white;
  }

  &:last-child {
    margin-bottom: 200px; // Adjust this value as needed
  }

  & a {
    color: inherit;
  }
}
