<div id="fab-dismiss"
  *ngIf="fabTogglerState==='active'"
  (click)="toggle()">
</div>

<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="toggle()">
    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
    <div class="icon-bar" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
    
  </button>

  <div *ngIf="fabTogglerState === 'active'" [@speedDialStagger]="_options.length" class="fab-items">
    @for(btn of _options; track btn.id) {
      <div class="fab-item">
        <div (click)="onClickItem(btn.id)" class="fab-label">{{btn.tooltip}}</div>
        <button
          class="fab-secondary"
          [ngClass]="{'active': activeRoute === btn.id}"
          color="secondary"
          (click)="onClickItem(btn.id)">
          <i class="material-icons">{{btn.icon}}</i>
        </button>
      </div>
    }
  </div>
</div>

