.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 2000;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
      border-radius: 50%;
      background-color: var(--mat-fab-container-color, var(--mat-sys-primary-container));
        padding: 0;
    border: none;
    height: 50px;
    width: 50px;
    justify-content: center;
    vertical-align: middle;
    display: flow;
    z-index: 99;
    }
  }
}

.fab-secondary {
  z-index: 1001 !important;
  position: relative; // asegúrate que no sea static
}

.fab-toggler {
  float: right;
  z-index: 100;
  border-radius: 50%;
      background-color: var(--mat-fab-container-color, var(--mat-sys-primary-container));
        padding: 0;
    border: none;
    height: 60px;
    width: 60px;
        padding: 15px;
    i {
        font-size: 30px;
    }
       
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: transparent; // ← importante para iOS
  touch-action: none; // ← evita gestos extraños en Safari
}

.icon-bar {
  width: 22px;
  height: 2px;
  background: black;
  margin: 3px;
  position: relative;
}
