@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fuente.woff2') format('woff2');
  font-display: block;
}

.material-symbols-outlined,
mat-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

html, body {
  -webkit-overflow-scrolling: touch;
  background: var(--color-background, #141a23);
  color: var(--color-text, #eaf0fb);
  user-select: none;
}


body {
  font-family: var(--mat-tab-label-text-font, var(--mat-sys-title-small-font));
  margin: 0;
  background: radial-gradient(circle at 5% -10%, var(--color-background) 0%, var(--color-background) 35%);
  color: var(--color-text);
}


