<div class="chat-container">
  <div #messagesContainer class="messages">
    <div *ngFor="let msg of messages" [ngClass]="{'sent': msg.sent, 'received': !msg.sent}" class="message-bubble">
      {{ msg.text }}
      <p class="hour">{{msg.hour}}</p>
    </div>
  </div>
    @if (['boss', 'willy'].includes(userType || 'normal')) {
    <form (ngSubmit)="sendMessage()" class="input-area">
        <div class="input-wrapper">
            <input [(ngModel)]="newMessage" name="message" placeholder="Escribe tu mensaje..." required />

            <button matIconButton type="submit">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
    }
</div>