<div class="page">
  <div class="head">
    <div class="search-content">
      <input
        type="text"
        placeholder="Buscar carroza"
        [(ngModel)]="searchText"
        (input)="onSearchChange()"
        class="search"
      />
      <mat-icon fontIcon="search"></mat-icon>
    </div>
    @defer {
    <div id="map-carrozas" class="map-container map-carrozas"></div>
    }
  </div>

  <div class="list" id="list-container">
    <ng-container *ngFor="let carroza of carrozas">
      <div class="list-item" [id]="'carr-' + carroza.id">
        <div class="list-item__logo">
          <img
            *ngIf="carroza.logo"
            [src]="'https://laalisedadetormes.com/orgullo/' + carroza.logo + '.webp'"
            (error)="onImgError($event)"
            [alt]="carroza.name"
          />
        </div>
        <div style="display: flex; justify-content: space-between; width: -webkit-fill-available;">
          <div>
            <div class="list-item__name list-carrozas-item__name">{{carroza.position}}. {{ carroza.name }}</div>
            <div class="tag" [ngClass]="carroza.status?.toLocaleLowerCase()">{{carroza.status | titlecase}}</div>
          </div>
          <button matIconButton class="list-item__buttom" (click)="openDialog(carroza)" >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
