<div class="page">
  <div class="head">
    <div class="search-content">
      <input
        type="text"
        placeholder="Buscar carroza"
        [(ngModel)]="searchText"
        (input)="onSearchChange()"
        class="search"
      />
      <mat-icon fontIcon="search"></mat-icon>
    </div>
    @defer {
    <div id="map-carrozas" class="map-container map-carrozas"></div>
    }
  </div>

  <div class="list" id="list-container">
    <ng-container *ngFor="let carroza of filteredCarrozas">
      <div class="list-item" [id]="'carr-' + carroza.id">
        <div class="list-item__logo">
          <img
            *ngIf="carroza.logo"
            [src]="'https://laalisedadetormes.com/orgullo/' + carroza.logo + '.webp'"
            [alt]="carroza.name"
          />
        </div>
        <div class="list-item__name">{{carroza.position}}. {{ carroza.name }}</div>
      </div>
    </ng-container>
  </div>
</div>
