<div class="page">
  <div class="head" [ngClass]="{ 'head--full': !showKeyboard }">
    <div class="head__info">
      <div class="tag-info pendiente">{{pending}}/{{total}}</div>
      <div class="tag-info aparcando">{{aparcando}}/{{total - situadas}}</div>
      <div class="tag-info situado">{{situadas}}/{{total}}</div>
    </div>
    @if(showMap) {
      @defer {
        <!-- Mapa fijo debajo del buscador -->
        <div id="map-carrozas" class="map-container"></div>
      }
    }
  <div class="map-toggle" (click)="changeShowMap()">
    <mat-icon fontSet="material-symbols-outlined">{{showMap ? 'list' : 'map' }}</mat-icon>
  </div>
  <div class="keyboard-toggle" (click)="changeShowKeyboard()">
    <mat-icon fontSet="material-symbols-outlined">{{showKeyboard ? 'keyboard_off' : 'keyboard' }}</mat-icon>
  </div>
  <!-- Listado con scroll ocupa el resto -->
  <div class="list" [ngClass]="{ 'list--full': !showMap }" id="list-container">
    @for (carroza of carrozas; track $index) {
      <ng-container>
        <div class="list-item" [id]="'carr-' + carroza.id">
          <div class="list-item__logo">
            @if (carroza.logo) {
              <img
                [src]="'https://laalisedadetormes.com/orgullo/' + carroza.logo + '.webp'"
                (error)="onImgError($event)"
                [alt]="carroza.name"
              />
            }
            @else {
              <img
                [src]="'./../../../assets/icons/lgbt.png'"
                (error)="onImgError($event)"
                [alt]="carroza.name"
                style="max-height: 30px;"
              />
            }
          </div>
          <div style="display: flex; justify-content: space-between; width: -webkit-fill-available;">
            <div>
              <div class="list-item__name list-carrozas-item__name" style="margin-left: 0;">{{carroza.position}}. {{ carroza.name }}</div>
              <div style="display: flex; gap: 8px; align-items: center; margin-top: 4px;">
              <div class="tag" [ngClass]="carroza.status?.toLocaleLowerCase()">{{carroza.status | titlecase}}</div>
              <p style="margin: 4px 0;font-size: 0.8rem;">Tipo: {{carroza.size ? (carroza.size === 'L' ? 'Trailer' : 'Autobús') : 'Desconocido'}}</p>

              </div>
            </div>
            <button matIconButton class="list-item__buttom" (click)="openDialog(carroza)" >
              <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    }
  </div>

  </div>
  @if (showKeyboard) {
    <app-search (searchTerm)="onSearchChange($event)"></app-search>
  }

</div>


