.list {
  &-item {
    gap: 8px;
    img {
      max-width: 80px;
    }
    &__logo {
      width: 80px;
      height: 40px;
      //min-width: 100px;
      //background: url('/assets/icons/bus.svg') no-repeat center center;
      //background-size: cover;
      background: #fc9afec1;
      padding: 0 5px;
    }

    &__name {
      font-size: 0.9rem;
    }

    &:last-child {
      margin-bottom: 150px;
    }
  }
  &--full {
    top: 50px;
  }
}
.tag {
  border-radius: 12px;
  padding: 4px 8px;
  width: fit-content;
  color: #0b1017;
  font-size: 0.8rem;
  font-family: var(--mat-tab-label-text-font, var(--mat-sys-title-small-font));
}

.pendiente{
  background-color: rgb(255, 116, 116);
}
.aparcando {
  background-color: #FFD54F;
}
.situado {
  background-color: #5da75d;
}

.head__info {
  position: absolute;
  display: flex;
  gap: 8px;
  top: 15px;
  right: 60px;
  z-index: 1000;
}

.tag-info {
  border-radius: 24px;
  padding: 4px 12px;
  color: #0b1017;
}
.map-toggle {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
.keyboard-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
:host {
  color: var(--app-text);
}