.list {
  &-item {
    img {
      max-width: 80px;
    }
    &__logo {
      height: 70px;
      width: 140px;
      min-width: 140px;
      background: url('/assets/icons/bus.svg') no-repeat center center;
      background-size: cover;
      padding-top: 5px;
    }

    &__buttom {
      color: inherit;
    }
  }
}
.tag {
  border-radius: 12px;
  padding: 2px 8px;
  width: fit-content;
  color: black;
  font-size: 0.8rem;
  margin-top: 4px;
  font-family: var(--mat-tab-label-text-font, var(--mat-sys-title-small-font));

  &.pendiente{
    background-color: rgb(255, 116, 116);
  }
  &.aparcando {
    background-color: #f5f77d;
  }
  &.situado {
    background-color: #7df57d;
  }
}