.list {
  &-item {
    img {
      max-width: 80px;
    }
    &__logo {
      height: 70px;
      width: 140px;
      min-width: 140px;
      background: url('/assets/icons/bus.svg') no-repeat center center;
      background-size: cover;
      padding-top: 5px;
    }
  }
}
